DATABASE_URL='postgres://role:password@localhost:5432/db-name'
BETTER_AUTH_SECRET="Random value used by the library for encryption and generating hashes. you can use something like openssl"
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
GOOGLE_CLIENT_ID="" # Google OAuth Web Client ID
GOOGLE_CLIENT_SECRET="" # Google OAuth Web Client Secret